@font-face {
    font-family: 'Adamas';
    src: url('Adamas-Regular.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}
.backdrop {
	width: 570px !important;
	height: 165px !important;
	left: 0;
	right: 0;
	margin: auto;
}
@media (max-width: 991px) {
	.backdrop {
		width: 428px !important;
		height: 124px !important;	
	}
}

@media (max-width: 691px) {
	.backdrop {
		width: 285px !important;
		height: 83px !important;
	}
}
@media (max-width: 1023px) {
	.repbutton {
		display: none !important;
	}
	#ambassador {
		display: none !important;
	}
}